.signup {
  padding-top: 100px;
}

/* * {
  border: 1px solid black;
} */

.flip{
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip:hover{
  transform: rotateY(180deg);
}
.my-house {
  background-color: rgb(82, 79, 79) !important;
  color: rgb(219, 211, 211) !important;
}

.comp-item {
}

.media {
  height: 150px;
}
