@font-face {
  font-family: 'Cinzel';
  src: url(../../client/src/assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}

h4 {
  /* font-family: 'Cinzel'; */
  margin: 0;
  color: #437779;
  /* font-size: 4vw; */
  /* text-shadow: 1px 1px 2px orange; */
}

body {
  font-family: 'Cinzel';
  margin: 0;
  /* font-size: 4vw; */
  /* text-shadow: 1px 1px 2px orange; */
}

.fontCinzelWhite {
  font-family: 'Cinzel';
  margin: 0;
  color: #437779;
  /* font-size: 4vw; */
  text-shadow: 1px 1px 2px white;
  text-align: center;
}

.fontCinzelBlack {
  font-family: 'Cinzel';
  margin: 0;
  color: #437779;
  /* font-size: 4vw; */
  text-shadow: 1px 1px 2px black;
  text-align: center;
}

.signup {
  padding-top: 50px;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

.flip {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip:hover {
  transform: rotateY(180deg);
}

.media {
  height: 200px;
}

.navbar {
  background-color: #437779 !important;
  display: flex;
  align-items: flex-start;
  font-family: 'Comfortaa', cursive !important;
}

.brand {
  flex-grow: 1;
  /* font-family: 'Comfortaa', cursive !important; */
  margin-left: 20px !important;
  font-size: 25px !important;
  font-weight: 700 !important;
}
.logo {
  
  margin-left: 20px !important;
  height: 80px;
}

/* NEW TRICKS WITH CSS */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  padding: 0px !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* .card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
} */

.grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 240px;
}

.list {
  display: 'flex';
  flex-wrap: 'wrap';
  padding: 2rem 1rem 2rem 2rem !important;
}

.card-radius {
  border-radius: 30px !important;
}

/* .card-radius-gray {
  border-radius: 20px !important;
  border: 1px solid gray;
} */

.login-margin {
  margin: 20px !important;
}

.card-radius-top {
  border-radius: 30px 30px 0 0 !important;
}
.card-radius-bottom {
  border-radius: 0 0 30px 30px !important;
}

.block {
  display: block !important;
}

.box-shadow {
  box-shadow: 3px 3px 3px #437779 !important;
}

.img-accord {
  height: 50px;
  width: 50px;
  background-image: url('https://honka.com/wp-json/image/resize?w=900&h=600&src=reference%2Fmelody%2Fhonka-mo-113.jpg');
  /* width:33%; */
}

.img-list {
  display: inline !important;
}

.details {
  display: block;
  width: 500;
  height: 450;
}

.section-inner {
  /* padding-top: 0px !important; */
  /* padding-bottom: 80px; // TO DO delete */
}

.chart {
  padding-top: 20px;
}

.bold {
  font-weight: 300 !important;
}

.center {
  text-align: center;
}

.MuiSvgIcon-root {
  display: 'flex';
  flex-direction: column;
  align-items: 'flex-start';
  font-size: 19px !important;
}
/* @media only screen and (min-width: 600px) {
  #logo{
    ../assets/logo/white_logo_transparent_background.png
  }
} */
